  .navbar ul li {
    position: relative; 

  }
  
  .navbar ul li::before {
    content: "";
    position: absolute;
    bottom: -3px; 
    width: 100%;
    height: 2px;
    background-color: orangered;
    transform: scaleX(0);
    transform-origin:left;
    transition: transform 0.2s linear;
  }
  
  .navbar ul li:hover::before {
    transform: scaleX(1);
  }
  